body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 10;
  padding: 10;
}

.container {
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(to right, #b3b1b1, #787877);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

section {
  width: 30%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  
  background-color: #e9ecef;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li.selected {
  background-color: #66ff8a;
}

li:hover {
  background-color: #7ec5ff;
}

input[type="text"] {
  width: calc(100% - 60px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.users {
  background: linear-gradient(to right, #28a745, #20c997);
}

.tasks {
  background: linear-gradient(to right, #ffc107, #fd7e14);
}

.messages {
  background: linear-gradient(to right, #007bff, #17a2b8);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages h2 {
  margin-top: 0;
  text-align: center;
  color: #fff;
}

.messages div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.messages div:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.9);
}
